CONFIG_PREBOOT="dvfs repeat; dvfs max; scsi scan; setenv fastboot_addr_r 0x49000000; setenv autoload no; setenv fastboot.fb_spwn usb"
CONFIG_CLK_SCMI=y
CONFIG_SPL_CLK_SCMI=y
CONFIG_CPU=y
CONFIG_CPU_ARMV8=y
CONFIG_SCMI_FIRMWARE=y
CONFIG_DM_DVFS=y
CONFIG_ROCKCHIP_WTEMP_DVFS=y
CONFIG_SYSRESET_PSCI=y
CONFIG_DM_THERMAL=y
CONFIG_ROCKCHIP_THERMAL=y
