CONFIG_SYS_MALLOC_LEN=0x18000000
CONFIG_PROT_UDP=y
CONFIG_PROT_TCP=y
CONFIG_PROT_TCP_SACK=y
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_USB_FUNCTION_FASTBOOT_EP_BUFFER_SIZE=0x100000
CONFIG_UDP_FUNCTION_FASTBOOT=y
CONFIG_TCP_FUNCTION_FASTBOOT=y
CONFIG_FASTBOOT_BUF_SIZE=0x10000000
CONFIG_FASTBOOT_FLASH_BLOCK=y
CONFIG_FASTBOOT_FLASH_BLOCK_DEVICE_ID=-1
CONFIG_FASTBOOT_OEM_RUN=y
